.Header{
    display: inline-block;
    margin: auto;
    height: 50px;
    padding: 20px 30px 15px 20px;
    background-color: #c4d097;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.Header a{
    text-decoration: none;
    color: #3a3a3a;
}

.Header a:hover{
    color: #14668b;
}

.Header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header li{
    list-style-type: none;
    padding: 0 10px;
}

